@model List<User>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">使用者清單</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>新增使用者
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>姓名</th>
            <th>Email</th>
            <th>權限</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.UserId))
        {
            <tr>
                <td>@obj.UserName</td>
                <td>@obj.Email</td>
                <td>@obj.RoleId</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@obj.UserId" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>編輯
                        </a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@obj.UserId" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>刪除
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>